{% extends 'layout.html' %}

{% block body %}

<!-- <h1>Home{{var1}}</h1> -->

<div class="d-flex mb-2">
  <div>
    <h1 class="ml-4"> Store Chart</h1>
  </div>

  <div class="ml-auto m-3">
    <form method="post">
      <div class="btn-group" role="group" aria-label="Basic example">
        <input id="a" class="btn " type="submit" name="ABC" value="7" onclick="changebackgroundColor('a')">
        <input id="b" class="btn" type="submit" name="ABC" value="30" onclick="changebackgroundColor('b')">
        <input id="c" class="btn " type="submit" name="ABC" value="90" onclick="changebackgroundColor('c')">
        <!-- <input type="submit" value="Submit"> -->
      </div>
    </form>
  </div>

</div>

<canvas id="ctx" width="400" height="400"></canvas>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<!-- <script src="../js/chart1.js"></script> -->
<script type="text/javascript">
  var abcd= JSON.parse('{{ data | tojson }}');
  var x = []
  var y=[]
  // console.log(username)
  console.log(abcd.x)
  if(abcd.x.length==7)
  changebackgroundColor("a")
  else if(abcd.x.length==30)
  changebackgroundColor("b")
  else
  changebackgroundColor("c")

  // console.log(y.length)
  var data = {
  labels: x,
  datasets: [{
    label: "Dataset #1",
    backgroundColor: "rgba(255,99,132,0.2)",
    borderColor: "rgba(255,99,132,1)",
    borderWidth: 2,
    hoverBackgroundColor: "rgba(255,99,132,0.4)",
    hoverBorderColor: "rgba(255,99,132,1)",
    data: y,
  }]
};

var options = {
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      stacked: true,
      gridLines: {
        display: true,
        // color: "rgba(255,99,132,0.2)"
      }
    }
    
    
    
    
    ],
    xAxes: [
      {
        stacked: true,
        gridLines: {
          display: true
        },
        ticks: {
          autoSkip: true,
          maxRotation: 90,
          minRotation: 90
        }
      }
    ]
  }
};

// console.log()
var mixedChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [
        {
            label: 'BenchMark',
            data: abcd.y,
            backgroundColor: "rgb(0, 255, 255, .7)",
            type: 'line'
        },
        {
            label: 'Men',
            data: abcd.y,
            backgroundColor: "#6666ff"
        },
        {
            label: 'Women',
            data: abcd.y,
            backgroundColor: "#ff4d4d"
        }
      
         
        ],
        labels: abcd.x
    },
    options: options
});
// var a
function changebackgroundColor(value){
  console.log(value)
  var a= document.getElementById("a");
  var b= document.getElementById("b");
  var c= document.getElementById("c");

  if(value=="a"){
    console.log("aaa")
    a.classList.add("btn-primary");
    b.classList.add("btn-secondary");
    c.classList.add("btn-secondary")
  }
  if(value=="b"){
    b.classList.add("btn-primary");
    a.classList.add("btn-secondary");
    c.classList.add("btn-secondary")
  }
  if(value=="c"){
    c.classList.add("btn-primary");
    b.classList.add("btn-secondary");
    a.classList.add("btn-secondary")
  }
}

setInterval(function () {
		updatedDataSet = 
    updateBarGraph(mixedChart,'Prediction', "red", [1, 2, 3]);
  }, 20000);

function updateBarGraph(chart, label, color, dat) {
    chart.data.datasets.pop();
    chart.data.datasets.pop();
    chart.data.datasets.pop();
    chart.data.datasets.push(
        {
            label: 'BenchMark',
            data: abcd.y,
            backgroundColor: "rgb(0, 255, 255, .7)",
            type: 'line'
        },
        {
            label: 'Men',
            data: abcd.y,
            backgroundColor: "#6666ff"
        },
        {
            label: 'Women',
            data: abcd.y,
            backgroundColor: "#ff4d4d"
        }
      
    
    
    );
    chart.update();
}

</script>

{% endblock %}